@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundaria: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-primaria: Inter, normal;
}

* {
    margin: 0;
    padding: 0;

}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-primaria);
    color: var(--branco-principal);

}

.principal {
    background-image: url(./assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;

}

.container__texto {
    margin: 0 6em; /*topo embaixo, esq dir*/
   
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
    text-align: center;

}

.container__combo {
    margin: 1.4em 0 3em 0;
    
}

.container__botao {
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    text-decoration: none;
    border-radius: 8px;
    padding: 1em; /*1em = 16px*/
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 1em;

}

.container__botao__secundario {
    background-color: transparent;
    color: var(--branco-principal);
    text-decoration: none;
    border: 1px solid var(--branco-principal);
    border-radius: 8px;
    padding: 1em;
    display: block;
    text-align: center;
}

.container__legenda {
    color: var(--cinza-secundaria);
    font-family: Inter, normal;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin-top: 0.6em;
}

.secundario__imagem {
    width: 80%;

}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
}

.descricao__texto {
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza-secundaria);
    margin-top: 0.5em;
}

.secundario__botao {
    display: inline-block; /*coloca o elemento eem linha, no espaco dele*/
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}